[package]
name = "stylist-core"
version = "0.9.0"
license = "MIT"
repository = "https://github.com/futursolo/stylist-rs"
authors = [
    "Kaede Hoshiakwa <futursolo@icloud.com>",
    "Martin Molzer <ga65guy@mytum.de>",
]
edition = "2018"
description = "Stylist is a CSS-in-Rust styling solution for WebAssembly Applications."
keywords = [
    "CSS",
    "web",
    "css-in-rust",
    "yew"
]
categories = ["wasm", "web-programming"]
readme = "README.md"
homepage = "https://github.com/futursolo/stylist-rs"

[dependencies]
nom = "6.2.1"
thiserror = "1.0"
wasm-bindgen = "0.2.74"
yew = { version = "0.18.0", optional = true, default-features = false }

[dev-dependencies]
log = "0.4"
env_logger = "0.9"

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test = "0.3.24"

[features]
yew_integration = ["yew"]

# Used by stylist-macros
proc_macros = []
