[package]
name = "stylist-core"
version = "0.9.1"
license = "MIT"
repository = "https://github.com/futursolo/stylist-rs"
authors = [
    "Kaede Hoshiakwa <futursolo@icloud.com>",
    "Martin Molzer <ga65guy@mytum.de>",
]
edition = "2018"
description = "Stylist is a CSS-in-Rust styling solution for WebAssembly Applications."
keywords = [
    "CSS",
    "web",
    "css-in-rust",
    "yew"
]
categories = ["wasm", "web-programming"]
readme = "README.md"
homepage = "https://github.com/futursolo/stylist-rs"
resolver = "2"

[dependencies]
nom = { version = "7.0.0", optional = true }
thiserror = "1.0.29"
wasm-bindgen = "0.2.77"
once_cell = "1.8.0"

[dev-dependencies]
log = "0.4.14"
env_logger = "0.9.0"

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test = "0.3.27"

[features]
parser = ["nom"]
