[package]
name = "stylist"
version = "0.9.0"
license = "MIT"
repository = "https://github.com/futursolo/stylist-rs"
authors = [
    "Kaede Hoshiakwa <futursolo@icloud.com>",
    "Martin Molzer <ga65guy@mytum.de>",
]
edition = "2018"
description = "Stylist is a CSS-in-Rust styling solution for WebAssembly Applications."
keywords = [
    "CSS",
    "web",
    "css-in-rust",
    "yew"
]
categories = ["wasm", "web-programming"]
readme = "../../README.md"
homepage = "https://github.com/futursolo/stylist-rs"
resolver = "2"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
stylist-core = { path = "../stylist-core", version = "0.9.0" }
stylist-macros = { path = "../stylist-macros", version = "0.9.0", optional = true }

once_cell = "1.8.0"
rand = { version = "0.8.4", optional = true }
wasm-bindgen = "0.2.77"
yew = { version = "0.18.0", optional = true, default-features = false, features = ["web_sys"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
getrandom = { version = "0.2.3", features = ["js"], optional = true }

[dependencies.web-sys]
version = "0.3.54"
features = [
    "Window",
    "Document",
    "Element",
    "HtmlElement",
    "HtmlHeadElement",
    "HtmlStyleElement",
]

[dev-dependencies]
log = "0.4.14"
env_logger = "0.9.0"
trybuild = "1.0.45"

[features]
random = ["rand", "getrandom"]
macros = ["stylist-macros"]
parser = ["stylist-core/parser"]
default = ["random", "macros", "parser"]
yew_integration = ["yew"]

[package.metadata.docs.rs]
features = ["yew_integration"]
all-features = true
rustdoc-args = ["--cfg", "documenting"]
