[package]
name = "stylist"
version = "0.11"
license = "MIT"
repository = "https://github.com/futursolo/stylist-rs"
authors = [
    "Kaede Hoshiakwa <futursolo@icloud.com>",
    "Martin Molzer <ga65guy@mytum.de>",
]
edition = "2021"
description = "Stylist is a CSS-in-Rust styling solution for WebAssembly Applications."
keywords = ["CSS", "web", "css-in-rust", "yew"]
categories = ["wasm", "web-programming"]
readme = "../../README.md"
homepage = "https://github.com/futursolo/stylist-rs"
resolver = "2"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
stylist-core = { path = "../stylist-core", version = "0.11" }
stylist-macros = { path = "../stylist-macros", version = "0.11", optional = true }

once_cell = "1.13.0"
wasm-bindgen = "0.2.81"
yew = { version = "0.19.3", optional = true, default-features = false }
# js-sys = { version = "0.3.55", optional = true }
gloo-events = { version = "0.1.2", optional = true }
fastrand = { version = "1.7.0", optional = true }
instant = { version = "0.1.12", optional = true, features = ["wasm-bindgen"] }

[dependencies.web-sys]
version = "0.3.58"
features = [
    "Window",
    "Document",
    "Element",
    "HtmlElement",
    "HtmlHeadElement",
    "HtmlStyleElement",
]

[dev-dependencies]
log = "0.4.17"
env_logger = "0.9.0"
trybuild = "1.0.63"
yew = "0.19.3"

[features]
random = ["fastrand", "instant"]
macros = ["stylist-macros"]
parser = ["stylist-core/parser"]
default = ["macros", "parser", "random", "debug_style_locations"]
debug_style_locations = []
yew_integration = ["yew", "yew_use_media_query", "yew_use_style"]
yew_use_media_query = ["yew", "web-sys/MediaQueryList", "gloo-events"]
yew_use_style = ["yew"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "documenting"]
