[package]
name = "stylist"
version = "0.13.0"
license = "MIT"
repository = "https://github.com/futursolo/stylist-rs"
authors = [
    "Kaede Hoshiakwa <futursolo@icloud.com>",
    "Martin Molzer <ga65guy@mytum.de>",
]
edition = "2021"
description = "Stylist is a CSS-in-Rust styling solution for WebAssembly Applications."
keywords = ["CSS", "web", "css-in-rust", "yew"]
categories = ["wasm", "web-programming"]
readme = "../../README.md"
homepage = "https://github.com/futursolo/stylist-rs"
resolver = "2"
rust-version = "1.66.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
stylist-core = { path = "../stylist-core", version = "0.13" }
stylist-macros = { path = "../stylist-macros", version = "0.13", optional = true }

once_cell = "1.16.0"
wasm-bindgen = "0.2.83"
yew = { version = "0.22", optional = true, default-features = false }
gloo-events = { version = "0.2.0", optional = true }
fastrand = { version = "2.0.0", optional = true }
instant = { version = "0.1.12", optional = true, features = ["wasm-bindgen"] }
serde = { version = "1", features = ["derive"] }
html-escape = { version = "0.2.12", optional = true }

[dependencies.web-sys]
version = "0.3.60"
features = [
    "Window",
    "Document",
    "Element",
    "HtmlElement",
    "HtmlHeadElement",
    "HtmlStyleElement",
]

[dev-dependencies]
log = "0.4.17"
env_logger = "0.10.0"
trybuild = "1.0.72"
yew = "0.22"
rustversion = "1"

[features]
default = ["debug_style_locations", "debug_parser", "macros", "random"]
debug_parser = ["stylist-core/parser"]
debug_style_locations = []
macros = ["stylist-macros"]
random = ["dep:fastrand", "dep:instant"]
parser = ["stylist-core/parser"]
yew_integration = ["yew", "yew_use_media_query", "yew_use_style"]
yew_use_media_query = ["yew", "web-sys/MediaQueryList", "dep:gloo-events"]
yew_use_style = ["yew"]
ssr = ["html-escape"]
hydration = []

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "documenting"]
