/* Copyright © 2020 Lukas Wagner */

& {
  background-color: #303040;
  color: #dddddd;
  padding: 5px;
}

&:hover {
  background-color: #606072;
}

.on-da-inside {
  background-color: blue;
  width: 100px;
  color: #ddd;
  padding: 5px;
  animation: move 2s infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes move {
  from {
    width: 100px;
  }
  to {
    width: 200px;
  }
}

@media only screen and (min-width: 626px) {
  width: 600px;
  margin: auto;

  @keyframes move {
    from {
      width: 100px;
    }
    to {
      width: 590px;
    }
  }
}
