[package]
name = "stylist-macros"
version = "0.14.0"
edition = "2021"
license = "MIT"
repository = "https://github.com/futursolo/stylist-rs"
authors = [
    "Kaede Hoshiakwa <futursolo@icloud.com>",
    "Martin Molzer <ga65guy@mytum.de>",
]
description = "Stylist is a CSS-in-Rust styling solution for WebAssembly Applications."
keywords = ["CSS", "web", "css-in-rust", "yew"]
categories = ["wasm", "web-programming"]
readme = "README.md"
homepage = "https://github.com/futursolo/stylist-rs"
resolver = "2"
rust-version = "1.84.0"

[lib]
proc-macro = true

[dependencies]
litrs = "1.0.0"
proc-macro-error = "1.0.4"
proc-macro2 = "1.0.47"
quote = "1.0.21"
nom = "7.1.1"
syn = { version = "2", features = ["full", "extra-traits"] }
itertools = "0.12.0"
log = "0.4.17"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
stylist-core = { path = "../stylist-core", version = "0.14", features = [
    "parser",
    "__proc_macro_workaround",
] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
stylist-core = { path = "../stylist-core", version = "0.14", features = [
    "parser",
] }

[dev-dependencies]
env_logger = "0.10.0"
